*{ box-sizing: border-box; }

body{ 
  width: 100%;
  height: auto;
  margin: 0;
  font-family: arial, vardana, sans-serif;
}
main{
  height: auto;
  background-color: #ccc;
  padding: 30px;
}

h1{
  margin-top: 0;
  text-align: center;
}

meter,progress{
  width: 200px;
  height: 30px;
}

#html{
  cursor: pointer;
}

.image{
  width: 128px;
  height: 128px;
}

svg{
  width: 700px;
  height: 700px;
  background-color: #eee;
}

#elli{
  fill: #DF0174;
}
