* {
    font-family: sans-serif;
    font-size: 12px;
    color: #798e94;
}

body {
    width: 400px;
    margin: auto;
    background-color: #E2ECEE;
}

.contacto {
    border: 1px solid #CED5D7;
    border-radius: 6px;
    padding: 45px 45px 20px;
    margin-top: 50px;
    background-color: white;
    box-shadow: 0px 5px 10px #B5C1C5, 0 0 0 10px #EEF5F7 inset;
}

.contacto label {
    display: block;
    /* Label sobre caja de texto*/
    font-weight: bold;
}

.contacto div {
    margin-bottom: 15px;
}

.contacto input[type='text'],
.contacto textarea {
    padding: 7px 6px;
    width: 294px;
    border: 1px solid #CED5D7;
    resize: none;
    box-shadow: 0 0 0 3px #EEF5F7;
    margin: 5px 0;
}

.contacto input[type='text']:focus,
.contacto textarea:focus {
    outline: none;
    box-shadow: 0 0 0 3px #DDE9EC;
}

.contacto input[type='submit'] {
    border: 1px solid #CED5D7;
    box-shadow: 0 0 0 3px #EEF5F7;
    padding: 8px 16px;
    border-radius: 20px;
    font-weight: bold;
    text-shadow: 1px 1px 0px white;
    background: #E4F1F6;
    background: -moz-linear-gradient(top, #E4F1F6 0%, #CFE6EF 100%);
    background: -webkit-linear-gradient(top, #E4F1F6 0%, #CFE6EF 100%);
}

.contacto input[type='submit']:hover {
    background: #EDFCFF;
    background: -moz-linear-gradient(top, #EDFCFF 0%, #CFE6EF 100%);
    background: -webkit-linear-gradient(top, #EDFCFF 0%, #CFE6EF 100%);
}

.contacto input[type='submit']:active {
    background: #CFE6EF;
    background: -moz-linear-gradient(top, #CFE6EF 0%, #EDFCFF 100%);
    background: -webkit-linear-gradient(top, #CFE6EF 0%, #EDFCFF 100%);
}